@media only screen and (min-width: 768px){
  .bgImg, .blur{
    height: 100% !important;
  }
  .icon{
    font-size: 5vw !important;
  }
  .grad{
    background-color: rgba(0,0,0,0) !important;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)) !important;
    position: absolute !important;
    height: fit-content !important;
    width:100%;
  }
  .containerP1{
    position: absolute;
    top:0;
    display:flex !important;
    height: 100% !important;
  }
  .pages{
    position: relative !important;
  }
  .parraf{
    font-size:1vw !important;
    overflow: hidden !important;
    height: fit-content !important;
  }
  .nextPag{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 95% !important;
  }
  .indArrows{
    padding-left: 0% !important;
  }
  .indR{
    padding-left:60% !important;
  }
  #again img{
    padding-bottom: 5%;
    width:70vw !important;
    width: 70vh !important;
  }
  .bgImgRuna{
    background-position: center;
    height: 90% !important;
    background-size: 100vw !important;
  }
  .bgImgMon{
    opacity: 1!important;
  }
  #vidas img{
    width:30vh !important;
  }
  .forImg{
    opacity: 1 !important;
  }
  /*Estas son para el JS, modificar con cuidado*/
  .personaje{
    position: absolute;
    height: 100% !important;
  }
  .personaje img{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
  }
  /*esta viene de Js*/
  .clasp{
    text-align: right !important;
  }
}
body{
  background-color:black !important;
  margin:0px;
}
html,body{
 height: 100%;
}
@font-face{
  font-family: modern;
  src: url('MODERN SPACE.ttf')
}

.pages{
  height: 100%;
}
.pages i{
  padding-top:4%;
}
.acertijo{
  height: 100%;
}
#he1{
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 100%;
  text-shadow: 0 0 0.05em cyan;
}
#he2{
	font-family: 'modern', sans-serif;
  font-weight: bold;
  background-color:rgba(0,0,0,0.3);
  color: white;
  border:solid;
  border-color: white;
  padding: 15px 32px;
	font-size: 3vw;
  text-shadow: 0 0 0.05em cyan;
  cursor: pointer;
}
#he2:hover{
  background-color: rgb(0, 79, 116);
  opacity: 0.7;
}
#he3{
	font-family: 'modern', sans-serif;
  font-weight: bold;
  background: none;
  color: white;
  padding: 15px 32px;
  color:white;
	font-size: 3vw;
	text-shadow: 0 0 0.05em cyan;
}
.Main{
  background-position: center;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow-x: hidden;
}
.BtnReset{
  width: 100%;
  border: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BtnReset:visited, :hover, :link{
  text-decoration: none;
}
#again{
  margin:auto;
  text-align: center;
}
#again img{
  width:70vw;
  width: 70vh;
  padding-bottom: 5%;
}
#Titulo{
  margin:auto;
  color: white;
  font-size: 10vw;
  text-align: center;
}
.BtnAct{
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 3vw;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  border-color: rgba(255,255,255,0.5);
  box-shadow: 3px 3px 8px rgba(255,255,255,0.5);  
  text-align: center;
  text-decoration: none;
  cursor: pointer; 
}
a:not([href]):not([tabindex]){
  color: white !important;
}

/*Páginas*/
.containerP1 {
  width: 100%;
  height: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.grad {
  height: 80%;
  display: inline-block;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 2% 5% 0%;
}
.grad2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35%;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}
.parraf {
  overflow: scroll;
  height: 90%;
  font-family: 'modern', sans-serif;
  font-weight: bold;
  text-align: justify;
  font-size: 3vw;
  text-justify: inter-word;
  color:white;
  z-index:1;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255,0.5); 
  border-radius: 1vw;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.8); 
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255,1); 
}
.opt{
  width: 50%;
  border:10px;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textA{
  position: absolute;
  top:40%;
}
.bgImg{
  background-position: center;
  max-width: 100%;
  height: 50%;
  background-size: cover;
}
.bgImgMon{
  background-position: center;
  max-width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  opacity: 1;
}
.arrows{
  position: absolute;
  background-position: center;
  max-width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  opacity: 1;
}
.bgImgInd{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bgImgInd img{
  position: absolute;
  width: 70vw;
}
.bgImgRuna{
  background-position: center;
  height: 80%;
  background-size: 150%;
  background-repeat: no-repeat;
  justify-self: center;
  align-self: center;
}
.bgImgAcer{
  background-position: center;
  max-width: 100%;
  height: 100%;
  background-size: cover;
}
.resolver{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 0%;
}
.estado{
  display: grid;
  grid-template-columns: 33.33%;
  align-items: flex-end;
  justify-content: flex-end;
}
.as{
  color: rgba(0,0,0,0) !important;
}
.barra{
  display: grid;
  grid-template-rows: 60% 40%;
  align-items: flex-end;
}
.carga{
  height: 100%;
  display: grid;
  align-items: flex-end;
}
.ImgStat{
  width:50%;
}
.icon{
  color:rgba(255,255,255,0.9);
  font-size: 10vw;
  cursor: pointer;
  text-shadow: 0 0 0.05em cyan;
  padding-left: 1vw;
} 
.nextPag{
  height:20%;  
  align-self: center;
}
.iconSc{
  cursor: pointer;
  color:green;
  text-shadow: 0 0 0.05em greenyellow;
  font-size: 5vw;
} 
.volver{  
  text-align: center;
}
.containerInRe{
  display: grid;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  width:100%;
  grid-template-rows: 80% 20%;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.indR{
  display: flex;
  justify-content: flex-end;
  padding-left:70% !important;
  height: 25%;
  padding-right: 0 !important;
  cursor: pointer;
}
.indL{
  display: flex;
  justify-content: start;
  padding-left:7% !important;
  height: 25%;
  padding-right: 0 !important;
  cursor: pointer;
}
.imgIdx{
  background-size: contain;
}
.indArrows{
  display: flex;
  height: 100%;
  padding: 0 5vw;
  position: absolute;
  z-index: 1;
  width: -webkit-fill-available;
  align-items: center;
}
.blur{
  position: absolute;
  background-position: center;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(80px);
  -webkit-filter: blur(8px);
}

.frame{
  margin:0; padding:0; height:100%;
  width:100%; border:none;
}
.secciones{
  height: 100%;
}
#indagar{
  position: relative;
  height: 100%;
}
.opcs{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
}
#vidas{
  position: absolute;
  right: 0;
  align-self: flex-end;
}
#vidas img{
  width:20vw;
}
.forImg{
  opacity: 0;
}
#box{
  z-index: -2;
}
#box img{
  width: 80vw;
  height: 45vw;
}
.resol{
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  color: white;
  font-family: 'modern', sans-serif !important; 
  width: 100%;
}
input[type=text], select {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; 
    color: white;
    font-family: 'modern', sans-serif !important; 
}
.formResol {
  display: block;
  width: 8vw !important;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.inf{  
  width: 20%!important;
  height:100%;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  z-index: 5;
  margin: auto!important;
  cursor: pointer;
}
/*personaje clases posiciones, tiene mucho que ver con el JS*/
.personaje{
  position: absolute;
  height: 50%;
  justify-items: flex-end;
}
.personaje img{
  width: 50%;
  height: 100%;
  object-fit: contain;
}
/*esta viene de Js*/
.clasp{
  text-align: right;
}
/*VENTANA DE LOGIN - admin.php*/

.Maindeadmin {
  background-image: url("IMG_NEW/admin/adm_1.png");
  background-position: center;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.IntLog{
  padding: 10px!important; 
}

/*SELECTOR DE CUENTO Selector.php*/

#H1Admin{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif;
  font-weight: bolder;
  font-size: 600%;
}

.Conte{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ActBtn{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 500% !important;
  font-weight:bolder !important;
  background-color: rgba(0, 41, 12, 0.52) !important;
  border: 3px solid rgb(18, 109, 0);
  cursor: pointer;
  object-fit: cover;
  height: 30vw;
  width: 40vw;
}
.NAddBtn{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 500% !important;
  font-weight:bolder !important;
  background-color: rgba(26, 35, 44, 0.52)!important;
  border-color: rgb(255, 255, 255) !important;
  cursor: pointer;
  object-fit: cover;
  height: 30vw;
  width: 40vw;
}
.NAddBtn:hover input ~ .checkmark{
  background-color: rgba(216, 216, 216, 0.52)!important;
  color: rgb(0, 0, 0) !important;
}

.NAddBtn input:checked ~ .checkmark {
  background-color:rgba(255, 255, 255);
  border: none;
}

/*VENTANA DE ADMINISTRADOR - paneldeadministrador.php*/
.slider-item {
  position: relative;
  height: 150px;
}
.slider-background {
  height: 150px;
}
.slider-img {
  height: 150px;
}

.container-fluid{
  background-image: url("IMG_NEW/admin/adm_2.png");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  margin:0;
}

/*SESIÓN ADMINISTRADOR*/

#he1deadminP {
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 60%;
  text-shadow: 0 0 0.1em cyan;
  margin: 20px;
}
#he2deadminP {
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 35%;
}
#Titulodeadmin {

  color: white;
  font-size: 700%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cerrarS{
  margin-bottom: 30px;
  margin-top: 20px;
  max-height: 50px;
  display: flex;
  justify-content: center;

}

.BtnUser{
  background-color: rgba(26, 35, 44, 0.52)!important;
  color: rgba(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 120% !important;
  font-weight:bolder !important;
  margin: 0;
  max-height: 50px;
  padding:10px 100px;
  cursor: pointer;
}
.BtnUser:hover{
  background-color: rgba(216, 216, 216, 0.52)!important;
  color: rgb(0, 0, 0) !important;
}

/*EDICIÓN DE ELEMENTOS*/

.container-2fluid{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

}

/*CAMBIAR NOMBRE PERSONAJE*/

.input-group{
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}
.input-group-text{
  background-color: rgba(26, 35, 44, 0.52)!important;
  color: rgba(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 120% !important;
  font-weight:bolder !important;
  margin: 0;
  max-height: 40px;
  cursor: pointer;
}
.input-group-text:hover{
  background-color: rgba(216, 216, 216, 0.52)!important;
  color: rgb(0, 0, 0) !important;
}
.input-group>.form-control{
  margin: 0;
}
.form-control{
  background-color: rgba(223, 240, 255, 0.836) !important;
  color: rgb(0, 0, 0) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 120% !important;
  font-weight:bolder !important;
  max-width: 450px;
  max-height: 40px;
}

/*CAMBIAR ELEMENTOS DEL CUENTO*/

.EdRow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.opcionesCol{
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.Btn{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 120% !important;
  font-weight:bolder !important;
  background-color: rgba(26, 35, 44, 0.52)!important;
  border-color: rgb(255, 255, 255) !important;
  margin: 0;
  max-width: 300px;
  max-height: 40px;
  cursor: pointer;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
.Btn:hover{
  background-color: rgba(216, 216, 216, 0.52)!important;
  color: rgb(0, 0, 0) !important;
}

/*EDICIÓN DEL TEXTO*/

.EdText{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.HisText{
  background-color: rgba(26, 35, 44, 0.52)!important;
  color: rgb(206, 206, 206) !important;
  border-color: rgb(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-weight:bolder !important;
  font-size: 100% !important;
  max-width: 100%;
  text-align: start !important;
  padding: 5px;
  height: 200px !important;
  cursor: text;
  resize: none !important;
  box-sizing: border-box !important;
}

/*EDICIÓN DEL FONDO Y PERSONAJE*/

.EdFondo{
  width: 50%;
  justify-content: start;
}
.EdPersonaje{
  width: 50%;
  justify-content: start;
}
.Prev{
  max-height:300px ;
  max-width: 75%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

/*POPUP GALLERÍA*/
.galCont{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
}

.galCol{
  margin: 2%;
}

.galSelected{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 500% !important;
  font-weight:bolder !important;
  background-color: rgba(0, 41, 12, 0.52) !important;
  border: 3px solid rgb(18, 109, 0);
  cursor: pointer;
  object-fit: cover;
}
.galThumb{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 500% !important;
  font-weight:bolder !important;
  background-color: rgba(26, 35, 44, 0.52)!important;
  border-color: rgb(255, 255, 255) !important;
  cursor: pointer;
  object-fit: cover;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.popup-container {
  width: 80%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  height: 100%;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*SELECCIÓN DE CUADRO*/

.row{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 120% !important;
  font-weight:bolder !important;
  margin: 0 !important;
  justify-content: center;
}
.checkboxrow{
  width: 75%;
  padding: 20px;
}
.col{
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding-left: 30px !important;
}
.col input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-style: solid;
  border-color: rgba(255, 255, 255);
  background: none;
  border-radius: 6px;
}
.col:hover input ~ .checkmark {
  background-color:rgba(226, 226, 226, 0.288) !important;
  border-color: rgba(255, 255, 255, 0.6);
}
.col input:checked ~ .checkmark {
  background-color:rgba(255, 255, 255);
  border: none;
}
.slider{
  display: flex;
  justify-content: center!important;
  width:100%;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 50px;
  width: 80%;
}

/*ACTUALIZACIÓN DE IMAGEN ChangeImg.php*/

.Window{
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/208/955/non_2x/vector-abstract-landscape-illustration.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(0, 0, 0, 0.774);
  padding: 20px;
}

/*INFO DE IMAGEN*/

.BlockImg{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 20px;
}
.ShowImg{
  max-width: 60%;
}
.PreImg{
  max-height: 100%;
  width: 100%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  margin-right: 30px;
}
.ShowDat{
  color: rgb(255, 255, 255);
  font-family: 'modern', sans-serif !important;
  font-weight:bolder !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 35%;
  margin-left: 30px;
}
.formuControl{
  background-color: rgb(236, 236, 236) !important;
  color: rgb(0, 0, 0) !important;
  font-weight:bolder !important;
  max-width: 100%;
  height: 10%;
  
}
.Datos{
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 20px;
  height: 55%; 
}
.NBtn{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 130% !important;
  font-weight:bolder !important;
  background-color: rgba(26, 35, 44, 0.52)!important;
  border-color: rgb(255, 255, 255) !important;
  max-width: 100%;
  height: 13%;
  cursor: pointer;
}
.NBtn:hover{
  background-color: rgba(216, 216, 216, 0.52)!important;
  color: rgb(0, 0, 0) !important;
}
#h1Bib{
  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 130% !important;
  font-weight:bolder !important;
}
/*SCROLL DE IMAGENES*/

.ScrollImg{
  display: flex;
  align-items: flex-start;
  width: 95%;
  margin: 20px;
}
.scrollingWrapper{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100%;
  display: flex;
  align-items: center ;
}
.Selected{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-style: solid;
  border-color: rgba(255, 255, 255);
  background: none;
  border-radius: 6px;
}
.AddBtn{

  color: rgba(255, 255, 255) !important;
  font-family: 'modern', sans-serif !important;
  font-size: 500% !important;
  font-weight:bolder !important;
  background-color: rgba(26, 35, 44, 0.52)!important;
  border-color: rgb(197, 16, 158) !important;
  cursor: pointer;
  height: 10vw;
  width: 15vw;
}
.AddBtn:hover{
  background-color: rgba(216, 216, 216, 0.52)!important;
  color: rgb(0, 0, 0) !important;
}

.input-group2{
  width:40% !important;
  justify-content: center;
}

.cards {
  display: inline-block;
  margin-left: 6px;
}
.images{
  height: 10vw !important;
  width:10vw !important;
}
.img-thumbnail{
  width: 15vw;
  display: inline-block;
  align-self: center;
  height: 5vw;
}
.paginas img{
  display: inline-block;
}

/* cell number */


/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 90px;
}
a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
input {  
  font-family: 'modern', sans-serif; 
  margin-bottom: 5px;
  font-size: 150%;
  background: none;
  color: white;
  justify-content: center;
  text-align: center;
}
#he1deadmin {
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 100%;
  text-shadow: 0 0 0.5em cyan;
}


.error {
  font-family: 'modern', sans-serif; 
  font-weight: lighter;
  margin-bottom: 5px;
  padding: 15px;
  font-size: 100%;
  background: none;
  color: white;
}