body{
	background-color:black;
	margin:0px;
}
@font-face{
	font-family: modern;
	src: url('MODERN SPACE.ttf')
}
.container{
position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('IMGS/Fondo.png');
  background-position: center center;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
}
#he1{
	font-family: 'modern', sans-serif;
	font-weight: lighter;
	font-size: 100%;
	text-shadow: 0 0 0.05em cyan;
}
.Main{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
#Titulo{
	margin:auto;
	color: white;
	font-size: 1200%;
}

.BtnUser{
	font-family: 'modern', sans-serif;
	font-weight: lighter;
	font-size: 200%;
	position: relative;
	background: none;
	color: white;
	border:solid;
	border-color: white;
  	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	
}
.BtnHover:hover{
	background-color: rgba(255, 255, 255);
	opacity: 0.9;
    color: rgba(0, 0, 0);
}
/*Páginas*/

.bgImg1{
	position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: black;
  background: url('IMGS/His1.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
}
.bgImg2{
	position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: black;
	background: url('IMGS/His2.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
}
.bgImg3{
	position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: purple;
	background: url('IMGS/p3.jpg') no-repeat center center fixed;
  	-webkit-background-size:cover;
  	-moz-background-size:cover;
  	-o-background-size: cover;
}

.containerP1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;

}
.grad {
  height: inherit;
  display: flex;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2%;
}
.grad2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35%;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}
.parraf1 {
  font-family: 'modern', sans-serif;
  font-weight: bold;
  text-align: justify;
	font-size: 230%;
	width:85%;
}
.nextPag ul{
	list-style: none;
}
.nextPag li{
display:inline-block;
}
#parrafs{
padding-top: 3%;
padding-bottom: 0%;
padding-left: 0px;
padding-right: 2%;
font-size: 1vw;
line-height: 150%;
color:white;
z-index:1;
}
.indagar{
	width: 50%;
	border:10px;
    margin-right: 5%;
    padding-bottom: 45%;
	background-color: rgba(250,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.textA{
	position: absolute;
	top:40%;
}
.resol{
	width: 50%;
	border:10px;
    margin-right: 5%;
    padding-bottom: 45%;
	background-color: rgba(100,50,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
.bgImg{
  display: flex;
  justify-content: center;
	position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: purple;
	background: url('IMGS/p4.jpg') no-repeat center center fixed;
  	-webkit-background-size:cover;
  	-moz-background-size:cover;
  	-o-background-size: cover;
}
.bgImg5{
	position: absolute;
    background-size: cover;
    background-color: purple;
	background: url('IMGS/p5.jpg') no-repeat center center fixed;
  	-webkit-background-size:cover;
  	-moz-background-size:cover;
  	-o-background-size: cover;
}
.rv:visited{
  color: pink;
}
.rv:link{
  color: rgba(255,255,255,0.8);
}
.rv:hover{
  color: white;
}
.containerInRe{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	height: 100%;
}
.estado{
	display: grid;
	grid-template-columns: 33.33%;
	align-items: flex-end;
	justify-content: flex-end;
}
.barra{
	display: grid;
	grid-template-rows: 60% 40%;
	align-items: flex-end;
}
.carga{
	height: 100%;
	display: grid;
	align-items: flex-end;
}
.ImgStat{
	width:50%;
}
.icon{
  color:white;
  font-size: 5vw;
} 
.volver{  
  text-align: center;
}
.containerInRe{
  width:100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80% 20%;
  align-items: center;
}
.monitor{
  display: grid;
  grid-template-columns: auto 70% auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nextIcon{
  z-index: 1;
}
.volver{  
  text-align: center;
}
.frame{
  margin:0; padding:0; height:100%;
  width:100%; border:none;
}
.secciones{
  height: 100%;
}
#indagar{
  height: 100%;
}
.opcs{
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  position: relative;
  align-items: flex-end;
}
#vidas{
  position: absolute;
  right:0%;
  width:20%;
  z-index: 0;
}

#vidas img{
  width:-moz-available;
  max-width: -webkit-fill-available;
}