body{
  background-color:black;
  margin:0px;
}
html{
 height: 0;
}
@font-face{
  font-family: modern;
  src: url('MODERN SPACE.ttf')
}
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('IMGS/Fondo.png');
  background-position: center center;
  background-size: cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
}
#he1{
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 100%;
  text-shadow: 0 0 0.05em cyan;
}
#he2{
	font-family: 'modern', sans-serif;
  font-weight: bold;
  background: none;
  color: white;
  border:solid;
  border-color: white;
  padding: 15px 32px;
  color:white;
	font-size: 3vw;
	text-shadow: 0 0 0.05em cyan;
}
.Main{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
}
#Titulo{
  margin:auto;
  color: white;
  font-size: 1200%;
}
.BtnAct{
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 200%;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  border-color: rgba(255,255,255,0.5);
  box-shadow: 3px 3px 8px rgba(255,255,255,0.5);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;  
}
.BtnUser{
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 200%;
  position: relative;
  background: none;
  color: white;
  border:solid;
  border-color: white;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;  
}
.BtnHover:hover{
  background-color: rgba(255, 255, 255);
  opacity: 0.9;
    color: rgba(0, 0, 0);
}
/*Páginas*/
.containerP1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.containerP1 div{
  padding-top: 1.5%;
}
.grad {
  height: inherit;
  display: flex;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2%;
}
.grad2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 35%;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}
.parraf1 {
  font-family: 'modern', sans-serif;
  font-weight: bold;
  text-align: justify;
  width:85%;
  font-size: 1vw;
  line-height: 150%;
  color:white;
  z-index:1;
}
.opt{
  width: 50%;
  border:10px;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textA{
  position: absolute;
  top:40%;
}
.bgImg{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size: cover;
}
.a:visited{
  color: pink;
}
.a:link{
  color: rgba(255,255,255,0.8);
}
.a:hover{
  color: white;
}
.estado{
  display: grid;
  grid-template-columns: 33.33%;
  align-items: flex-end;
  justify-content: flex-end;
}
.barra{
  display: grid;
  grid-template-rows: 60% 40%;
  align-items: flex-end;
}
.carga{
  height: 100%;
  display: grid;
  align-items: flex-end;
}
.ImgStat{
  width:50%;
}
.icon{
  color:white;
  font-size: 5vw;
} 
.iconSc{
  color:green;
  text-shadow: 0 0 0.05em greenyellow;
  font-size: 5vw;
} 
.volver{  
  text-align: center;
}
.containerInRe{
  display: grid;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  width:100%;
  grid-template-rows: 80% 20%;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.respuesta{
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8%;
}
.respuesta div{
  position: absolute;
  text-align: center;
  z-index: 1;
  padding-bottom: 2%;
}
.monitor{
  background: url('IMGS/monitor/PlanM.png') no-repeat center center fixed;
  display: grid;
  grid-template-columns: auto 80% auto;
  position: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.frame{
  margin:0; padding:0; height:100%;
  width:100%; border:none;
}
.secciones{
  height: 100%;
}
#indagar{
  position: relative;
  height: 100%;
}
.opcs{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
}
#vidas{
  position: absolute;
  right: 0;;
  align-self: flex-end;
}
#vidas img{
  width:20vw;
}
#box{
  z-index: -2;
}
#box img{
  width: 80vw;
  height: 45vw;
}
input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.inf{  
  text-align: center;
  z-index: 1;
}
/*admin*/
.container_ad {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('IMGS/Fondo.png');
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 90px;
}
input {
  margin-bottom: 5px;
  padding: 15px;
  font-size: 200%;
  background: none;
  color: white;
  justify-content: center;
  text-align: center;
}
#he1_ad {
  font-family: 'modern', sans-serif;
  font-weight: lighter;
  font-size: 100%;
  text-shadow: 0 0 0.05em cyan;
}
.Main_AD {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
}
#Titulo_AD {
  margin: auto;
  color: white;
  font-size: 700%;
}